body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 20px;
  color: #1e90ff;
}

#buscador {
  padding: 12px;
  width: 60%;
  margin-bottom: 25px;
  border-radius: 8px;
  border: none;
  background: #1a1a1a;
  color: white;
}


#contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
}


.card {
  perspective: 1000px;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 500px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}


.card.flipped .card-inner {
  transform: rotateY(180deg);
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-front {
  background: #111;
}


.card-img {
  height: 220px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}


.card-content {
  padding: 10px;
}

.descripcion {
  font-size: 13px;
  color: #ccc;
}


.card-back {
  background: #111;
  transform: rotateY(180deg);
  padding: 15px;
  text-align: left;
  overflow-y: auto;
}


.stat {
  margin: 10px 0;
}

.bar {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0;
  transition: width 0.8s ease;
}


.marvel-fill {
  background: #ff2d2d;
}

.dc-fill {
  background: #1e90ff;
}


.card.focused .fill.active {
  width: var(--valor);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 5;
  display: none;
}

.overlay.active {
  display: block;
}


.card.focused {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 340px;
}


.card.focused.marvel {
  box-shadow: 0 0 40px rgba(255, 45, 45, 0.8);
}

.card.focused.dc {
  box-shadow: 0 0 40px rgba(30, 144, 255, 0.8);
}
